<!DOCTYPE html>
<html style="font-size: 17px;">

<head>
  <title>Farmify | Team</title>
  <link rel="stylesheet" href="/static/styles/team.css" media="screen">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500;1,700&family=Manrope:wght@500&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="header" id="header">
    <div class="header__top">
      <div class="header__top__container">
        <div class="header__column header__column--left">
          <div class="header__item header__item--link ">
            <a class="header__item__link" href="/mainsec">Home</a>
          </div>
          <!-- <div class="header__item header__item--link">
            <a class="header__item__link" href="romance.html">Books</a>
          </div> -->
          <div class="header__item header__item--link header__item--current-link">
            <a class="header__item__link" href="/team">Our Team</a>
          </div>
          <div class="header__item header__item--link header__item">
            <a class="header__item__link" href="/contact">Contact Us</a>
          </div>
          <!-- <div class="header__item header__item--link  ">
            <a class="header__item__link" href="form.html">Feedback Form</a>
          </div> -->
        </div>

        <div class="header__column header__column--right">
          <div class="header__item">
            <a class="header__item__logo" href="/mainsec"><img src="/static/styles/assets/logo.png" class="logo"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="u-mainbg divi">
    <div class="divi">
      <div class="u-sheet-1">
        <h2 class="u-text-1">Our Team</h2>
        <div class="u-list-1">
          <div class="u-repeater">
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/KS.jpeg">
                <p class="u-text-role">22BCE10017</p>
                <h3 class="u-text-nm">Ketak</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/RC.jpeg">
                <p class="u-text-role">22BCE10352</p>
                <h3 class="u-text-nm">Ramaditya Chaudhary</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/SS.jpeg">
                <p class="u-text-role">22BCE11340</p>
                <h3 class="u-text-nm">Siddharth Sihag</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/MY.jpeg">
                <p class="u-text-role">22BCE10276</p>
                <h3 class="u-text-nm">Mayank Yadav</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/VJ.jpeg">
                <p class="u-text-role">22BCE10067</p>
                <h3 class="u-text-nm">Vaibhav Jindal</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/AA.jpg">
                <p class="u-text-role">22BOE10115</p>
                <h3 class="u-text-nm">Aryan Ashish</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/AM.jpg">
                <p class="u-text-role">22BCY10055</p>
                <h3 class="u-text-nm">Ashit Mallick</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/KK.png">
                <p class="u-text-role">22BHI10108</p>
                <h3 class="u-text-nm">Kunal Kumar</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <div id="footer" class="footer">
    <!-- Copyright --><br>
    <div class="footer__row">
      &copy; Made with &#10084; by students of VIT Bhopal.
    </div>
  </div>

  
</body>

</html>