<!DOCTYPE html>
<html style="font-size: 17px;">

<head>
  <title>Farmify | Team</title>
  <link rel="stylesheet" href="/static/styles/team.css" media="screen">
  <link rel="stylesheet" href="/static/styles/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500;1,700&family=Manrope:wght@500&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="static/styles/loader.css">
</head>

<body>
  <div class="loader-container" id="loader">
    <div class="loader"></div>
  </div>

  <header class="header-bar" id="header-bar">
    <a class="farmify-logo" href="/mainsec"></a>
    
    <!-- Mobile menu toggle button -->
    <button class="farmify-menu-toggle" id="menu-toggle">
        <i class="fas fa-bars"></i>
    </button>
    
    <nav class="farmify-nav" id="farmify-nav">
        <ul>
            <li><a href="/mainsec"><i class="fas fa-home"></i> HOME</a></li>
            <li><a href="/team" class="nav-link"><i class="fas fa-users"></i> OUR TEAM</a></li>
            <li><a href="/contact" class="nav-link"><i class="fas fa-envelope"></i> CONTACT</a></li>
            <li><a href="http://127.0.0.1:5000/" class="nav-link"><i class="fas fa-robot"></i> CHATBOT</a></li>
            <li class="dropdown">
                <button class="dropbtn" id="user-email">Loading...</button>
                <div class="dropdown-content">
                    <a href="#" id="logout-btn"> Logout</a>
                </div>
            </li>                
        </ul>
    </nav>
</header>

  <section class="u-mainbg divi">
    <div class="divi">
      <div class="u-sheet-1">
        <h2 class="u-text-1">Our Team</h2>
        <div class="u-list-1">
          <div class="u-repeater">
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/KS.jpeg">
                <p class="u-text-role">22BCE10017</p>
                <h3 class="u-text-nm">Ketak</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/RC.jpeg">
                <p class="u-text-role">22BCE10352</p>
                <h3 class="u-text-nm">Ramaditya Chaudhary</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/SS.jpeg">
                <p class="u-text-role">22BCE11340</p>
                <h3 class="u-text-nm">Siddharth Sihag</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/MY.jpeg">
                <p class="u-text-role">22BCE10276</p>
                <h3 class="u-text-nm">Mayank Yadav</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/VJ.jpeg">
                <p class="u-text-role">22BCE10067</p>
                <h3 class="u-text-nm">Vaibhav Jindal</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/AA.jpg">
                <p class="u-text-role">22BOE10115</p>
                <h3 class="u-text-nm">Aryan Ashish</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/AM.jpg">
                <p class="u-text-role">22BCY10055</p>
                <h3 class="u-text-nm">Ashit Mallick</h3>
              </div>
            </div>
            <div class="u-container-style1">
              <div class="u-container-layout">
                <img alt="" class="u-image" src="/static/styles/assets/KK.png">
                <p class="u-text-role">22BHI10108</p>
                <h3 class="u-text-nm">Kunal Kumar</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <div id="footer" class="footer">
    &copy; Made with &#10084; by students of VIT Bhopal.
  </div>

  <script src="/static//scripts/team.js"></script>
  <script type="module" src="/static/scripts/signupId.js"></script>
  <script src="static/scripts/loader.js"></script>
  <script src="static/scripts/navbar.js"></script>
</body>

</html>